<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diagnostico</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/layout.css') }}">
</head>

<body>
    <header>
        <img class="Banner" src="../static/recursos/Banner.png" />
    </header>
    <section>
        <article>
            <table border='2'>            
                {% for i in range(0, tam) %}
                    <tr>
                        <td> {{ lista[i] }}</td>
                    </tr>
                {% endfor %}
            </table>

            <input id="Consultar" type="submit" value="Consultar Diagnostico" action="/Diagnostico">
        </article>
    </section>


    <footer>
        <!--Pie de pagina-->
        <fieldset id="f1">
            <address>
                <!--Provee información de contacto del autor-->

                <br>
                &nbsp;&nbsp; Luis Adrián Cabrera Bermeo &#8226; Tonny Roger Lema Jaramillo &#8226; Universidad
                Politécnica Salesiana &#32; &#8226;
                <a href="mailto:lcabrerab@est.ups.edu.ec">lcabrerab@est.ups.edu.ec &#32; &#8226;</a>
                <a href="mailto:tlemaj1@est.ups.edu.ec">tlemaj1@est.ups.edu.ec &#32; </a>

            </address>
            <br>

            <img class="ImagenCentro" src="../static/recursos/logo.png" width="25%">

        </fieldset>

    </footer>
</body>

</html>