<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test1</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/layout.css') }}">
 
</head>

<body>
    <header>
        <img class="Banner" src="../static/recursos/Banner.png" />
    </header>
    <section>
        <article id="articleForm">
            <!--<script src=" {{url_for('static', filename='js/layout.js') }}"></script>-->
            <!--<h3>Resultado de la carga de la base de conocimiento => {{ resultadoCarga }} {{ estado }} </h3>-->
            
            {% if estado==True %} <!--Llamo a la variable estaod  de mi archivo Sistema.py-->
          
            <form method='POST' id="preguntasT1"  action='/crearPtest1' >
              <br>
              <label for="codigo">Codigo:</label>
              <input type="text" name = "codigo" id="codigo" size="40" />
              <label for="nombres">Nombres: </label>
              <input type="text" id="nombre" name = "nombre"  size="40" />
              <br />
              <br />
              <label for="apellidos">Apellidos: </label>
              <input type="text" id="apellido" name = "apellido"  size="40" />
             
              <label for="edad">Edad:</label>
              <input type="text" id="edad"  name = "edad"  size="40" />
          
              <br />
              <br />
                 
                <label for="respuesta1">1. Me da miedo estar ante gente con autoridad. </label>
                <select name="respuesta1" id = "respuesta1">
                    <option value="NUNCA"selected>NUNCA</option>
                    <option value="MUY POCO" >MUY POCO</option>
                    <option value="UN POCO">UN POCO</option>
                    <option value="MUCHISIMO">MUCHISIMO</option>
                    <option value="TODO EL TIEMPO">TODO EL TIEMPO</option>
                  </select>
                <br>
                <br>
                <label for="respuesta2">2.Me molesta sonrojarme delante de la gente. </label>
                <select name="respuesta2" id = "respuesta2">
                    <option value="NUNCA"selected>NUNCA</option>
                    <option value="MUY POCO" >MUY POCO</option>
                    <option value="UN POCO">UN POCO</option>
                    <option value="MUCHISIMO">MUCHISIMO</option>
                    <option value="TODO EL TIEMPO">TODO EL TIEMPO</option>
                  </select>
                <br/>
                <br/>
                <label for="respuesta3">3.Las fiestas y acontecimientos sociales me asustan.</label>
                <select name="respuesta3" id = "respuesta3">
                    <option value="NUNCA"selected>NUNCA</option>
                    <option value="MUY POCO" >MUY POCO</option>
                    <option value="UN POCO">UN POCO</option>
                    <option value="MUCHISIMO">MUCHISIMO</option>
                    <option value="TODO EL TIEMPO">TODO EL TIEMPO</option>
                  </select>
                <br/>
                <br/>
                <label for="respuesta4">4.Evito hablar con la gente que no conozco.</label>
                <select name="respuesta4" id = "respuesta4">
                    <option value="NUNCA"selected>NUNCA</option>
                    <option value="MUY POCO" >MUY POCO</option>
                    <option value="UN POCO">UN POCO</option>
                    <option value="MUCHISIMO">MUCHISIMO</option>
                    <option value="TODO EL TIEMPO">TODO EL TIEMPO</option>
                  </select>
                <br/>
                <br/>
                <label for="respuesta5">5.Cuando me critican me alarmo mucho.</label>
                <select name="respuesta5" id = "respuesta5">
                    <option value="NUNCA"selected>NUNCA</option>
                    <option value="MUY POCO" >MUY POCO</option>
                    <option value="UN POCO">UN POCO</option>
                    <option value="MUCHISIMO">MUCHISIMO</option>
                    <option value="TODO EL TIEMPO">TODO EL TIEMPO</option>
                  </select>
                <br/>
                <br/>
                <label for="respuesta6">6.El miedo a sentirme avergonzado me lleva a evitar hacer cosas o a hablar con la gente.</label>
                <select name="respuesta6" id = "respuesta6">
                    <option value="NUNCA"selected>NUNCA</option>
                    <option value="MUY POCO" >MUY POCO</option>
                    <option value="UN POCO">UN POCO</option>
                    <option value="MUCHISIMO">MUCHISIMO</option>
                    <option value="TODO EL TIEMPO">TODO EL TIEMPO</option>
                  </select>
                <br/>
                <br/>
                <label for="respuesta7">7.
                    Sudar delante de la gente me incomoda.</label>
                    <select name="respuesta7" id = "respuesta7">
                        <option value="NUNCA"selected>NUNCA</option>
                        <option value="MUY POCO" >MUY POCO</option>
                        <option value="UN POCO">UN POCO</option>
                        <option value="MUCHISIMO">MUCHISIMO</option>
                        <option value="TODO EL TIEMPO">TODO EL TIEMPO</option>
                      </select>
                <br/>
                <br/>
                <label for="respuesta8">8.Evito ir a fiestas.</label>
                <select name="respuesta8" id = "respuesta8">
                    <option value="NUNCA"selected>NUNCA</option>
                    <option value="MUY POCO" >MUY POCO</option>
                    <option value="UN POCO">UN POCO</option>
                    <option value="MUCHISIMO">MUCHISIMO</option>
                    <option value="TODO EL TIEMPO">TODO EL TIEMPO</option>
                  </select>
                <br/>
                <br/>
                <label for="respuesta9">9.Evito las actividades en las que soy el centro de atención.</label>
                <select name="respuesta9" id = "respuesta9">
                    <option value="NUNCA"selected>NUNCA</option>
                    <option value="MUY POCO" >MUY POCO</option>
                    <option value="UN POCO">UN POCO</option>
                    <option value="MUCHISIMO">MUCHISIMO</option>
                    <option value="TODO EL TIEMPO">TODO EL TIEMPO</option>
                  </select>
                <br/>
                <br/>
                <label for="respuesta10">10.Hablar con desconocidos me asusta.</label>
                <select name="respuesta10" id = "respuesta10">
                    <option value="NUNCA"selected>NUNCA</option>
                    <option value="MUY POCO" >MUY POCO</option>
                    <option value="UN POCO">UN POCO</option>
                    <option value="MUCHISIMO">MUCHISIMO</option>
                    <option value="TODO EL TIEMPO">TODO EL TIEMPO</option>
                  </select>
                <br/>
                <br/>
                <label for="respuesta11">11.Evito tener que hablar ante una audiencia.</label>
                <select name="respuesta11" id = "respuesta11">
                    <option value="NUNCA"selected>NUNCA</option>
                    <option value="MUY POCO" >MUY POCO</option>
                    <option value="UN POCO">UN POCO</option>
                    <option value="MUCHISIMO">MUCHISIMO</option>
                    <option value="TODO EL TIEMPO">TODO EL TIEMPO</option>
                  </select>
                <br/>
                <br/>
                <label for="respuesta12">12.Haría cualquier cosa para evitar ser criticado.</label>
                <select name="respuesta12"id = "respuesta12">
                    <option value="NUNCA"selected>NUNCA</option>
                    <option value="MUY POCO" >MUY POCO</option>
                    <option value="UN POCO">UN POCO</option>
                    <option value="MUCHISIMO">MUCHISIMO</option>
                    <option value="TODO EL TIEMPO">TODO EL TIEMPO</option>
                  </select>
                <br/>
                <br/>
                <label for="respuesta13">13.Me molesta tener palpitaciones cuando estoy entre la gente.</label>
                <select name="respuesta13" id = "respuesta13">
                    <option value="NUNCA"selected>NUNCA</option>
                    <option value="MUY POCO" >MUY POCO</option>
                    <option value="UN POCO">UN POCO</option>
                    <option value="MUCHISIMO">MUCHISIMO</option>
                    <option value="TODO EL TIEMPO">TODO EL TIEMPO</option>
                  </select>
                <br/>
                <br/>
                <label for="respuesta14">14.Me atemoriza hacer cosas cuando la gente me mira.</label>
                <select name="respuesta14" id = "respuesta14">
                    <option value="NUNCA"selected>NUNCA</option>
                    <option value="MUY POCO" >MUY POCO</option>
                    <option value="UN POCO">UN POCO</option>
                    <option value="MUCHISIMO">MUCHISIMO</option>
                    <option value="TODO EL TIEMPO">TODO EL TIEMPO</option>
                  </select>
                <br/>
                <br/>
                <label for="respuesta15">15.Sentirme avergonzado o parecer estúpido son mis peores miedos.</label>
                <select name="respuesta15" id = "respuesta15">
                    <option value="NUNCA"selected>NUNCA</option>
                    <option value="MUY POCO" >MUY POCO</option>
                    <option value="UN POCO">UN POCO</option>
                    <option value="MUCHISIMO">MUCHISIMO</option>
                    <option value="TODO EL TIEMPO">TODO EL TIEMPO</option>
                  </select>
                <br/>
                <br/>
                <label for="respuesta16">16.Evito hablar a cualquier persona importante.</label>
                <select name="respuesta16" id = "respuesta16">
                    <option value="NUNCA"selected>NUNCA</option>
                    <option value="MUY POCO" >MUY POCO</option>
                    <option value="UN POCO">UN POCO</option>
                    <option value="MUCHISIMO">MUCHISIMO</option>
                    <option value="TODO EL TIEMPO">TODO EL TIEMPO</option>
                  </select>
                <br/>
                <br/>
                <label for="respuesta17">17.Me incomoda temblar o agitarme delante de la gente.</label>
                <select name="respuesta17" id = "respuesta17">
                    <option value="NUNCA"selected>NUNCA</option>
                    <option value="MUY POCO" >MUY POCO</option>
                    <option value="UN POCO">UN POCO</option>
                    <option value="MUCHISIMO">MUCHISIMO</option>
                    <option value="TODO EL TIEMPO">TODO EL TIEMPO</option>
                  </select>
                <br/>
                  
              <input id="Consultar" type="submit" value="Consultar" action="/crearPtest1">
                <br/>
                 

            </form>

            {% else %}
            <h3>No Cargó</h3>
        {% endif %}
        </article>
    </section>


    <footer>
      <!--Pie de pagina-->
      <fieldset id="f1">
          <address>
              <!--Provee información de contacto del autor-->

              <br>
              &nbsp;&nbsp; Luis Adrián Cabrera Bermeo &#8226; Tonny Roger Lema Jaramillo &#8226; Universidad
              Politécnica Salesiana &#32; &#8226;
              <a href="mailto:lcabrerab@est.ups.edu.ec">lcabrerab@est.ups.edu.ec &#32; &#8226;</a>
              <a href="mailto:tlemaj1@est.ups.edu.ec">tlemaj1@est.ups.edu.ec &#32; </a>
              
          </address>
          <br>   

          <img class="ImagenCentro" src="../static/recursos/logo.png" width="25%">
           
      </fieldset>

  </footer>
</body>

</html>